img{
    width: 300px;
    border:1px brown;

}

body{
    background-image:url('https://www.windowscentral.com/sites/wpcentral.com/files/styles/large/public/field/image/2016/06/xpbliss_7.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: sans-serif;
    padding: 0;
    padding-top: 0;
    margin: 0;
}

.container {
    background-color: tan;
    width: 1000px;
    margin: 0px auto 0 auto;
    min-height: 100vh;
    padding: 25px;
    height: auto;
    justify-content: center;
    text-align: center;

}

h1{
    margin-top: 0;
    font-size: 69px;
    margin-bottom: 25px;
}

h2{
    font-size: 20px;

}

.timeline {
    margin: 0 100px 0 100px;
    text-align: left;
}

.timeline ul{

    list-style-type: none;
    font-size: 15px;
}

.timeline li{
    margin-top: 5px;
}

a{
    font-size: 20px;
    margin-bottom: 20px;
}